@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}

body {
    margin: 0;
    font-family: 'Gilroy';
}

button {
    padding: 0;
    border: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.conteiner {
    width: 1500px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.header .wrapper-top {
    background-color: #20242d;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .wrapper-top .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .wrapper-top .contacts {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header .contacts li {
    margin-right: 56px;
    position: relative;
    padding-left: 20px;
}

.header .contacts li svg {
    position: absolute;
    top: 4px;
    left: 0px;
}
.header .contacts li:last-child {
    margin-right: 0px;
}

.header .address {
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.header .contacts a {
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}

.header .wrapper-bottom {
    color: #ffffff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 11px;
}

.header .wrapper-bottom .conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .navigation li {
    margin-right: 56px;
}

.header .navigation li:last-child {
    margin-right: 0px;
}

.header .navigation a {
    color: #20242d;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}
.header .navigation .active {
    position: relative;
    color: #ff7129;
    padding-left: 15px;
    padding-right: 15px;
}

.header .navigation .active::after {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ff7129;
    position: absolute;
    top: 9px;
    right: 0px;
}

.header .navigation .active::before {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #ff7129;
    position: absolute;
    top: 9px;
    left: 0px;
}

.start-screen {
    background: #777;
    padding-top: 270px;
    padding-bottom: 138px;
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.start-screen .solar {
    position: absolute;
    font-family: Gilroy;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    color: transparent;
    top: -100px;
    left: 60px;
}

.start-screen .energy {
    position: absolute;
    font-family: Gilroy;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    color: transparent;
    bottom: 52px;
    right: 50px;
}
.start-screen .main-title {
    color: #ffffff;
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 16px;
}

.start-screen .slogan {
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 508px;
    margin-left: auto;
    margin-right: auto;
}

.start-screen .btn {
    background: #ff7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    width: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 106px;
}

.start-screen .btn-scroll {
    background: #7b7e85;
    opacity: 0.6;
    width: 46px;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.main-info-content .main-content-header {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242d;
    padding-left: 16px;
}
.main-info-content .main-content-article {
    color: #20242d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.main-content {
    padding-top: 132px;
    padding-bottom: 115px;
    background-image: url(../img/main_content_bg.png);
    background-size: 1400px 1055px;
    background-repeat: no-repeat;
    background-position: 152px 0;
}
.main-content .main-block {
    display: flex;
    justify-content: center;
}
.main-content .main-info-content {
    width: 535px;
    margin-left: 64px;
    position: relative;
}

.main-content .main-info-content .decor-word {
    position: absolute;
    font-family: Gilroy;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke: 1px rgba(32, 36, 45, 0.3);
    text-transform: uppercase;
    color: transparent;
    top: -50px;
    left: -22px;
}
.footer {
    background: #20242d;
}

.footer .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 58px;
}

.footer .navigation .main-footer-nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .navigation li {
    margin-left: 56px;
}

.footer .navigation a {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
}

.footer .footer-btn {
    border: 1px solid #ff7129;
    box-sizing: border-box;
    background: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

    color: #ffffff;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer .navigation .active {
    color: #ff7129;
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(123, 126, 133, 0.3);
}

.footer .footer-bottom a {
    color: #7b7e85;
    padding-top: 24px;
    padding-bottom: 24px;
}

footer .footer-bottom span {
    color: #7b7e85;
    padding-top: 24px;
    padding-bottom: 24px;
}

.calculator-popap {
    display: none;
    position: fixed;
    width: 800px;
    height: 596px;
    background-color: #ffffff;
    padding-top: 28px;
    padding-right: 58px;
    padding-left: 58px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
}

@keyframes fadeIn {
    0% {
        transform: translate(0%, -2000px);
    }
    50% {
        transform: translate( 0%, 50%);
    }
    100% {
        transform: translate( 0%, 0%);
    }
}

.calculator-popap-show {
display: block;
animation-name: fadeIn;
animation-duration: 1s;
}



.calculator-popap .pop-up-close {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
}




.calculator-popap .title {
    position: relative;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: 97%;
    color: #20242d;
    margin-top: 95px;
    padding-left: 16px;
}

.calculator-popap .title::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 52px;
    background-color: #ff7129;
    top:-4px;
    left: 0px;
}

.calculator-popap .description {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #20242d;
    margin-top: 16px;
}

.calculator-popap .calc-pop-form {
    margin-top: 56px;
}

.calculator-popap .calc-pop-form .pop-range .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-popap .calc-pop-form .pop-range .label label {
    position: relative;
}


.calculator-popap .calc-pop-form .pop-range .label label::after {
content: url(../img/info_svg_ico.svg);
position: absolute;
top: 3px;
right: -3px;
}

.calculator-popap .calc-pop-form .label span {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #20242d;
}

.calculator-popap .calc-pop-form .pop-range label {
    display: block;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7b7e85;
    padding-right: 20px;
}

.calculator-popap .calc-pop-form .range-line {
    margin-top: 31px;
    margin-bottom: 25px;
    margin-left: 0px;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.calculator-popap .calc-pop-form .range-line::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff7129;
    cursor: pointer;
}

.calculator-popap .calc-pop-form .range-line::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ff7129;
    cursor: pointer;
}

.calculator-popap .selects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.calculator-popap .selects-item label {
    display: block;
}

.calculator-popap .selects-item {
    flex: 1;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #7b7e85;
}

.calculator-popap .selects-item select {
    width: 100%;
    height: 52px;
    margin-top: 15px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #7b7e85;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
    padding-left: 24px;
}
.calculator-popap .selects-item select::-ms-expand {
    display: none;
}
.calculator-popap .selects-item select:hover {
    border-color: #ff7129;
}
.calculator-popap .selects-item select:focus {
    border-color: #ff7129;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    outline: none;
}

.calculator-popap .selects-item select option:focus {
    border-color: #ff7129;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}

.calculator-popap .selects-item select option {
    font-weight: normal;
    border-color: #ff7129;
}

.calculator-popap .selects-item:last-child {
    margin-left: 30px;
}

.calculator-popap .btn {
    background: #ff7129;
    box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    width: 188px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 72px;
    margin-top: 56px;
}

.calculator-popap .bg-text {
    position: absolute;
    font-family: Gilroy;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0em;
    text-align: left;
    -webkit-text-stroke: 1px rgb(122, 122, 122, 0.2);
    text-transform: uppercase;
    color: transparent;
    top: -70px;
    left: -42px;
}
